/*FARBEN*/
:root {
    --main-color:hsl(204, 100%, 4%);
    --secondary-color: hwb(204 15% 43%);
    --accent-1: hsl(187, 43%, 84%);
    --accent-2: hsl(24, 53%, 52%);
}

header{         
    width: 100vw;
    height: 13%;
    background-color: var(--accent-1);
    z-index: 1;

    gap: 0;

    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
/*MENÜ*/
.sections{
    background-color: transparent;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.3rem;
}
/*LINKS*/
a{
    font-size: 4vw;
    background-color: var(--main-color);
    color: var(--accent-1);

    border-radius: 30px;
    border: 2px solid var(--main-color);

    padding: 0.3rem;

    justify-content: center;
}
a:hover{
    color: var(--accent-2);
    border: 3px dashed var(--accent-2);
    animation: 0.15s bigger forwards ease-in-out;
}
button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
    color: var(--accent-1);
    border-width: 4px;
    border-radius: 15px;
    border-color: var(--accent-1);
    border-style: solid;

    background-size: cover;
    aspect-ratio: 1;
}
button:hover{
    border-color: var(--accent-2);
    animation: 0.20s bigger forwards ease-in-out;
}
button.menu:hover{
    border-color: var(--secondary-color);
}
.dark{
    background-color: hsla(0, 0%, 0%, 0.8) !important;
    background-blend-mode: darken;
    border-color: var(--accent-2);
}
/*TEXT*/
p{
    color: var(--accent-1);

    font-size: 22;
    font-weight: 600;
    font-family: playwrite-dk-uloopet-guides-regular;
}


ul{
    color: var(--accent-1);

    font-family: playwrite-dk-uloopet-guides-regular;
    font-weight: 600;
    font-size: 4vh;
}

body{
    margin: 0;
    width: 100%;
    background-color: var(--main-color);
}

div{
    top: 12%;
    position: relative;
    background-color: var(--main-color);
    width: 100%;
}
/*BILDER*/
img{
    position: relative;

    max-height: 90%;
    border-radius: 5px;
    aspect-ratio: 1;
    object-fit: cover;
}
h1{
    display: flex;
    justify-content: center;

    width: 100%;

    font-size: 6vh;
    font-family: modak-regular;

    color: var(--secondary-color);
}
h2{
    color: var(--main-color);

    font-size: 22;
    font-weight: 800;
    font-family: Poppins;
}
/*ICONS*/
.fa-instagram{
    font-size: 90;
}

.fa-tiktok{
    font-size: 90;
}
/*icon menü spezifikationen*/
.menu{
    position: relative;
    height: auto;
    border-radius: 10px;
}
/*Border sichtbar machen*/
.border{
    border: 4px solid var(--accent-1);
}

.thirty{
    left: 25;
    top: 25;
    right: 25;
}

.on{
    color: var(--secondary-color) !important;
}
.hidden{
    color: transparent;
}

/*ANIMATIONEN*/
@keyframes bigger {
    0% {scale: 1.00;}
    100% {scale: 1.07;}
}

.text{
    font-size: 3vh;
    max-width: 85%;
}