/* ==================================================
   GLOBAL
================================================== */

*{
    margin: 0;

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    font-family: "Google Sans";
}

.seite{
    scroll-snap-align: end;
}

/* ==================================================
   FARBEN
================================================== */

:root {
    --main-color:hsl(135, 22%, 7%);
    --secondary-color: hwb(0 6% 49%);
    --accent-1: hsl(0, 0%, 80%);
    --accent-2: hsl(0, 0%, 100%);
}

/* ==================================================
   LAYOUT
================================================== */

body{
    margin: 0;
    width: 100%;
    background-color: var(--main-color);
}

div{
    top: 10vh;
    position: relative;
    background-color: var(--main-color);
    width: 100%;
    height: 90vh;

    overflow-x: hidden;
}

/* ==================================================
   HEADER & NAVIGATION
================================================== */

header{         
    width: 100vw;
    height: 10vh;
    background-color: var(--accent-1);
    z-index: 2;

    gap: 0;

    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sections{
    background-color: transparent;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.3rem;
}

.menu{
    position: relative;
    border-radius: 10px;
}

.on{
    color: var(--secondary-color) !important;
}

/* ==================================================
   BUTTONS
================================================== */

button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
    color: var(--accent-1);
    border: 4px solid var(--accent-1);
    border-radius: 15px;

    background-size: cover;
    aspect-ratio: 1;
    font-size: 5vh;
}

button:hover{
    border-color: var(--secondary-color);
    animation: 0.3s bigger forwards ease-in-out;
}

/* ==================================================
   LINKS
================================================== */

a{
    display: flex;
    font-size: 4vw;

    background-color: var(--main-color);
    color: var(--accent-1);

    border-radius: 30px;

    padding: 0.3rem;
    aspect-ratio: 1;

    align-items: center;
    justify-content: center;
}

a:hover{
    color: var(--accent-2);
    border: 4px solid var(--secondary-color);
    animation: 0.3s bigger forwards ease-in-out;
}

.lang{
    height: 60%;

    aspect-ratio: 1;
    margin-right: 2vw;
    border-radius: 10px;

    text-decoration-line: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
    color: var(--accent-1);
    border: 4px solid var(--accent-1);
}

/* ==================================================
   TYPOGRAPHIE
================================================== */

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 10vh;

    font-size: 4.5vw;

    color: var(--secondary-color);

    font-family: "Bowlby One SC";
}

h2{
    display: flex;
    justify-content: center;

    width: 100%;

    font-size: 5vw;

    color: var(--secondary-color);

    font-family: "Tourney";
}

jahr{
    color:hsl(0, 0%, 100%);

    font-size: 4vh;
    font-weight: 800;
}

p{
    color: var(--accent-1);

    font-size: 2.5vw;
}

ul{
    color: var(--accent-1);
    font-size: 2.5vw;

    list-style-type: circle;
}

/* ==================================================
   BILDER & VIDEOS
================================================== */

img{
    position: relative;

    max-width: 90%;
    border-radius: 5px;
    aspect-ratio: 1;
    object-fit: cover;

    box-shadow: 0 -5px 25px rgba(255, 255, 255, 0.2);

    overflow: hidden;
}

video{
    max-height: 100%;
}

.bg-video{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
}

.overlay{
    position: relative;
     
    z-index: 1;

    width: 100%;
    height: 100%;
    padding-top: 10vh;

    font-size: 4.5vw;

    color: var(--accent-2); 
    background: hsla(0, 0%, 0%, 0.67);

    text-align: center; 
    align-content: start;
}

/* ==================================================
   ICONS
================================================== */
.icons{
    display: flex;
    flex-direction: column;
    column-count: 0;
    top: 0;
    gap: 10px;

    height: 90vh;
    max-height: 80%;
    width: 35%;


    justify-content: center;
    align-items: center;
}

.contact-icons{
    border: 4px solid var(--accent-1);
    border-radius: 30px;
    
    animation: none !important;
    text-decoration-line: none;

    font-size: 75;
    padding: 0.3rem;

    width: fit-content;
}

/* ==================================================
   RESULTS CARDS
================================================== */

.flip_chart{
    border-radius: 20px;

    background-color: hsla(0, 0%, 0%, 0.45);
    background-blend-mode: darken;
    border-color: var(--accent-2);

    overflow: hidden;

    align-items: flex-end;
    box-shadow: 0 -4px 30px rgba(255, 255, 255, 0.2);
}

.flip_chart:hover{
    border-color: var(--secondary-color) !important;

    animation: bigger 0.7s forwards ease-in-out;
}

.dark{
    background-color: hsla(0, 0%, 0%, 0.85) !important;
    background-blend-mode: darken;

    backdrop-filter: blur(10px);

    border-color: var(--accent-2);
}

.text{
    width: 100%;
    height: 100%;
}

/* ==================================================
   SECTIONS
================================================== */

.erfolge{
    display: grid;
    grid-template-columns: 40% 40%;
    position: relative;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
}

.vorstellung{
    display: flex;
    flex-direction: row;

    height: 90vh;

    align-items: center; 
    justify-content: center;
}

.sm{
    display: flex;
    flex-direction: row;
    height: 90vh;

    align-items: center;
    justify-content: center;
}

.sponsorenliste{
    display: flex;
    flex-direction: column;

    top: 0;
    max-height: 80%;
    
    justify-content: start;
    align-items: center;
}

.sponsor{
    width: fit-content;
    aspect-ratio: unset;

    text-decoration-color: var(--main-color);
    text-decoration-line: underline;
    border: 4px solid transparent;

    font-size: 5vw;
}

.sponsor:hover{
    text-decoration-color: var(--accent-1);
    border: none;

    animation: none !important;
}

/* ==================================================
   UTILITY CLASSES
================================================== */

.hidden{
    color: transparent;
}

.kontakt-daten{
    display:flex;
    flex-direction: column;
    align-items: end; 
    justify-content: start; 
    background:transparent; 
    top: 2vh; 
    height: auto;
}

/* ==================================================
   ANIMATIONEN
================================================== */

@keyframes bigger {
    0% {scale: 1.00;}
    100% {scale: 1.07;}
}

/* ==================================================
   RESPONSIVE DESIGN
================================================== */

@media (max-width: 600px) {

    *{
        scrollbar-width: 0;
    }

    h1{
        font-size: 4.5vh;
    }
    jahr{
        font-size: 2.5vh;
    }

    .sections{
        width: 0%;
    }

    .erfolge{
        display: grid;
        grid-template-columns: 50%;
    }

    .vorstellung{
        flex-direction: column !important;

        max-height: 90vh;
    }

    .contact{
        display: grid !important;
        grid-template-columns: 90% !important;

        top: 0;
    }
    .contact-icons{
        font-size: 60;
    }

    .sponsoren{
        flex-direction: column;
        max-height: 90vh;

    }
    
    .sponsorenliste{
        height: fit-content;
    }
    
}

@media (max-width: 850px) {

    .sections{
        width: 0%;
    }
}